<%= form_with(model: scrp, local: true) do |form| %>
  <% if scrp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scrp.errors.count, "error") %> prohibited this scrp from being saved:</h2>

      <ul>
        <% scrp.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
